# Virtual Environment
eeg_env/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Large Data & Models
mne_data/
C-/
*.fif
*.mat
*.zip
*.gz
models/*.pth
models/*.h5

# OS Files
.DS_Store
Thumbs.db
